@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for elements with .no-scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.custom-shadow {
  box-shadow: 0 4px 10px #8e8f8f; /* soft blue shadow */
}
